In [3]:
import cx_Oracle
import os

In [ ]:
# Solicita a data ao usuário
data_input = input("Digite a data no formato DD/MM/YY: ").strip()

In [ ]:
# Conexão com o banco Oracle
dsn = cx_Oracle.makedsn("oracle.fiap.com.br", 1521, sid="ORCL")
conn = cx_Oracle.connect(user="RM567800", password="fiap25", dsn=dsn)
cursor = conn.cursor()

In [ ]:
# Consulta os dados filtrados pela data
query = """
SELECT UMIDADE_PERCENT, PH, FOSFORO, POTASSIO, NITROGENIO, IRRIGACAO, DATA
FROM dados_irrigacao
WHERE DATA = TO_DATE(:data, 'DD/MM/YY')
"""
cursor.execute(query, data=data_input)
rows = cursor.fetchall()

In [ ]:
# Gera HTML com layout em cartões
if rows:
    html = f"""<!DOCTYPE html><html lang="pt-br"><head>..."""  # você pode colar o bloco completo aqui
    for row in rows:
        html += f"""<div class="card">...</div>"""  # mantenha o loop como está
    html += """</div></body></html>"""
else:
    html = f"""<!DOCTYPE html><html lang="pt-br"><head>...</head><body><h1>Dados de {data_input}</h1><p>Nenhum registro encontrado para esta data.</p></body></html>"""

In [ ]:
# Salva o HTML na mesma pasta do notebook
caminho_base = os.getcwd()
caminho_html = os.path.join(caminho_base, "contagem_por_data.html")

with open(caminho_html, "w", encoding="utf-8") as file:
    file.write(html)

print(f"✅ HTML gerado com sucesso em:\n{caminho_html}")

In [2]:
cursor.close()
conn.close()

NameError: name 'cursor' is not defined